body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1406px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:32px;
  width:387px;
  height:141px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  white-space:nowrap;
}
#u996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:2233px;
  width:662px;
  height:132px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:2252px;
  width:579px;
  height:60px;
  font-size:20px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  word-wrap:break-word;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:2322px;
  width:140px;
  height:25px;
}
#u1000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:2322px;
  width:140px;
  height:25px;
}
#u1001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:2192px;
  width:670px;
  height:13px;
  font-size:10px;
  color:#FF0000;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:2971px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:2971px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1478px;
  width:671px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:1800px;
  width:313px;
  height:55px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:1820px;
  width:0px;
  height:0px;
}
#u1008_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u1008_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-4px;
  width:8px;
  height:16px;
}
#u1008_seg2 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:4px;
  width:21px;
  height:8px;
}
#u1008_seg3 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-1px;
  width:18px;
  height:18px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1560px;
  width:310px;
  height:40px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:1580px;
  width:0px;
  height:0px;
}
#u1012_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u1012_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:1890px;
  width:313px;
  height:55px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u1016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:1980px;
  width:313px;
  height:55px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
