body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1092px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:591px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:0px;
  width:355px;
  height:591px;
  font-size:20px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:42px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:648px;
  width:363px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:359px;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:653px;
  width:28px;
  height:32px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:42px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:601px;
  width:363px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:359px;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:605px;
  width:28px;
  height:32px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u880 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:755px;
  width:340px;
  height:65px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:1639px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:1639px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:812px;
  width:611px;
  word-wrap:break-word;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u884 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:885px;
  width:340px;
  height:65px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:655px;
  width:0px;
  height:0px;
}
#u886_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:529px;
  height:8px;
}
#u886_seg1 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:-4px;
  width:8px;
  height:148px;
}
#u886_seg2 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:136px;
  width:34px;
  height:8px;
}
#u886_seg3 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:131px;
  width:18px;
  height:18px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:992px;
  width:0px;
  height:0px;
}
#u888_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-71px;
  width:8px;
  height:71px;
}
#u888_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-71px;
  width:674px;
  height:8px;
}
#u888_seg2 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:-76px;
  width:18px;
  height:18px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:-75px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1105px;
  width:0px;
  height:0px;
}
#u890_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u890_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:229px;
  height:8px;
}
#u890_seg2 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:-14px;
  width:18px;
  height:18px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u892 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:1065px;
  width:340px;
  height:65px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:275px;
  width:110px;
  height:25px;
  font-size:18px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:705px;
  width:110px;
  height:25px;
  font-size:18px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1137px;
  width:110px;
  height:25px;
  font-size:18px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1568px;
  width:110px;
  height:25px;
  font-size:18px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:550px;
  width:170px;
  height:25px;
  font-size:18px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:1410px;
  width:170px;
  height:25px;
  font-size:18px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
