body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1092px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:591px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:0px;
  width:355px;
  height:591px;
  font-size:20px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:42px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:648px;
  width:363px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:359px;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:653px;
  width:28px;
  height:32px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:42px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:601px;
  width:363px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:359px;
  word-wrap:break-word;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:605px;
  width:28px;
  height:32px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u910 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:755px;
  width:340px;
  height:65px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:1639px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:1639px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:812px;
  width:611px;
  word-wrap:break-word;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u914 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:885px;
  width:340px;
  height:65px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:655px;
  width:0px;
  height:0px;
}
#u916_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:529px;
  height:8px;
}
#u916_seg1 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:-4px;
  width:8px;
  height:148px;
}
#u916_seg2 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:136px;
  width:34px;
  height:8px;
}
#u916_seg3 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:131px;
  width:18px;
  height:18px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:992px;
  width:0px;
  height:0px;
}
#u918_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-71px;
  width:8px;
  height:71px;
}
#u918_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-71px;
  width:674px;
  height:8px;
}
#u918_seg2 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:-76px;
  width:18px;
  height:18px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:-75px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1105px;
  width:0px;
  height:0px;
}
#u920_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u920_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:229px;
  height:8px;
}
#u920_seg2 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:-14px;
  width:18px;
  height:18px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u922 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:1065px;
  width:340px;
  height:65px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:275px;
  width:110px;
  height:25px;
  font-size:18px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:705px;
  width:126px;
  height:25px;
  font-size:18px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1137px;
  width:116px;
  height:25px;
  font-size:18px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1568px;
  width:110px;
  height:25px;
  font-size:18px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:550px;
  width:170px;
  height:25px;
  font-size:18px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:1410px;
  width:170px;
  height:25px;
  font-size:18px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
