body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
