body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u988 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:339px;
  width:502px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u989 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:448px;
  width:495px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:68px;
  background:inherit;
  background-color:rgba(254, 124, 36, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:448px;
  width:489px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:489px;
  word-wrap:break-word;
}
