body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:729px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:719px;
  height:1280px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:28px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:561px;
  width:502px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:458px;
  width:495px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:68px;
  background:inherit;
  background-color:rgba(254, 124, 36, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:458px;
  width:489px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:489px;
  word-wrap:break-word;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:78px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:567px;
  width:496px;
  height:78px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:330px;
  width:622px;
  height:125px;
  font-size:20px;
  text-align:center;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  word-wrap:break-word;
}
