body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:702px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:520px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:520px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:252px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:558px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:557px;
  width:335px;
  height:558px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:271px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:517px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:0px;
  width:310px;
  height:517px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:618px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:557px;
  width:347px;
  height:618px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:301px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:1095px;
  width:0px;
  height:0px;
}
#u1432_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u1432_seg1 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:208px;
}
#u1432_seg2 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:196px;
  width:357px;
  height:8px;
}
#u1432_seg3 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:80px;
  width:8px;
  height:124px;
}
#u1432_seg4 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:74px;
  width:18px;
  height:18px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:184px;
  width:100px;
  word-wrap:break-word;
}
