body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:570px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:570px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:277px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:294px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:569px;
  width:375px;
  height:294px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:139px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:269px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:862px;
  width:375px;
  height:269px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:649px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1230px;
  width:375px;
  height:649px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:267px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1879px;
  width:375px;
  height:267px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:99px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1131px;
  width:375px;
  height:99px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:50px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:2096px;
  width:378px;
  height:50px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:52px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:2096px;
  width:188px;
  height:52px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:116px;
  width:240px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:136px;
  width:240px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:26px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:1149px;
  width:136px;
  height:26px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:1152px;
  width:121px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
