body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1280px;
  width:719px;
  height:1280px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2560px;
  width:719px;
  height:1280px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:931px;
  width:265px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u963 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:55px;
  width:58px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u964 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:2212px;
  width:265px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u965 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:3493px;
  width:265px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 115, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:933px;
  width:265px;
  height:87px;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:265px;
  word-wrap:break-word;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 115, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:2213px;
  width:265px;
  height:87px;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:265px;
  word-wrap:break-word;
}
#u970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 115, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:3494px;
  width:265px;
  height:87px;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:265px;
  word-wrap:break-word;
}
#u972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#828282;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:721px;
  width:287px;
  height:125px;
  font-size:36px;
  color:#828282;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:149px;
  background:inherit;
  background-color:rgba(124, 102, 89, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:2940px;
  width:418px;
  height:149px;
  font-size:36px;
  color:#FFFFFF;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  word-wrap:break-word;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:3099px;
  width:405px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:55px;
  background:inherit;
  background-color:rgba(63, 85, 108, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FDFCFD;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:1514px;
  width:127px;
  height:55px;
  color:#FDFCFD;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
