body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1280px;
  width:719px;
  height:1280px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2560px;
  width:719px;
  height:1280px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:931px;
  width:265px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u915 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:55px;
  width:58px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u916 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:2212px;
  width:265px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u917 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:3493px;
  width:265px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 115, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:933px;
  width:265px;
  height:87px;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:265px;
  word-wrap:break-word;
}
#u920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 115, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:2213px;
  width:265px;
  height:87px;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:265px;
  word-wrap:break-word;
}
#u922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 115, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:3494px;
  width:265px;
  height:87px;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:265px;
  word-wrap:break-word;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#828282;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:721px;
  width:287px;
  height:125px;
  font-size:36px;
  color:#828282;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:149px;
  background:inherit;
  background-color:rgba(124, 102, 89, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:2940px;
  width:418px;
  height:149px;
  font-size:36px;
  color:#FFFFFF;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  word-wrap:break-word;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:3099px;
  width:405px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:55px;
  background:inherit;
  background-color:rgba(63, 85, 108, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FDFCFD;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:1514px;
  width:127px;
  height:55px;
  color:#FDFCFD;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
