body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:82px;
  width:614px;
  height:1205px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:64px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:12px;
  width:116px;
  height:41px;
  font-size:32px;
  color:#CCCCCC;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  white-space:nowrap;
}
#u889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:178px;
  width:546px;
  height:970px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:178px;
  width:546px;
  height:970px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:57px;
  background:inherit;
  background-color:rgba(211, 61, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:737px;
  width:230px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:24px;
  background:inherit;
  background-color:rgba(211, 61, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:798px;
  width:425px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  white-space:nowrap;
}
#u897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:19px;
  background:inherit;
  background-color:rgba(211, 61, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1065px;
  width:364px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
