body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:686px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:61px;
  width:257px;
  height:686px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:233px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:2288px;
  width:490px;
  height:233px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:2305px;
  width:330px;
  height:110px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:2247px;
  width:670px;
  height:13px;
  font-size:10px;
  color:#FF0000;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:3225px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:3225px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1604px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:747px;
  width:395px;
  height:161px;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:0px;
  width:195px;
  height:20px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:195px;
  height:36px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:191px;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:20px;
  width:195px;
  height:36px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:195px;
  height:20px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:56px;
  width:195px;
  height:20px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:195px;
  height:20px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:76px;
  width:195px;
  height:20px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:195px;
  height:20px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:96px;
  width:195px;
  height:20px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:195px;
  height:20px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:116px;
  width:195px;
  height:20px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:195px;
  height:20px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:136px;
  width:195px;
  height:20px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:153px;
  width:161px;
  height:40px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:161px;
  width:126px;
  height:25px;
  font-size:18px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:161px;
  width:180px;
  height:25px;
  font-size:18px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:42px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:959px;
  width:152px;
  height:42px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:959px;
  width:267px;
  height:71px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:247px;
  word-wrap:break-word;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:980px;
  width:0px;
  height:0px;
}
#u1023_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u1023_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:2113px;
  width:180px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:667px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
