body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:96px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:1040px;
  width:205px;
  height:96px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1063px;
  width:28px;
  height:29px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:42px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:1072px;
  width:34px;
  height:42px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:1067px;
  width:43px;
  height:38px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:1034px;
  width:210px;
  height:102px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:206px;
  word-wrap:break-word;
}
#u1431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:1120px;
  width:190px;
  height:85px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:1136px;
  width:0px;
  height:0px;
}
#u1433_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u1433_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:23px;
  width:264px;
  height:8px;
}
#u1433_seg2 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:18px;
  width:18px;
  height:18px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:103px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:1033px;
  width:125px;
  height:103px;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
