body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:67px;
  background:inherit;
  background-color:rgba(238, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#717276;
  text-align:center;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:358px;
  width:489px;
  height:67px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#717276;
  text-align:center;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:489px;
  word-wrap:break-word;
}
#u1003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 107, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:449px;
  width:489px;
  height:67px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:489px;
  word-wrap:break-word;
}
#u1005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:67px;
  background:inherit;
  background-color:rgba(247, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:46px;
  width:489px;
  height:67px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:489px;
  word-wrap:break-word;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:30px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
