body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:901px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2492px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:901px;
  height:2492px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:55px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:3940px;
  width:265px;
  height:55px;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
