body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:901px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2492px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:901px;
  height:2492px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1238px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:55px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:3940px;
  width:265px;
  height:55px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
