body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#006666;
  text-align:center;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:140px;
  width:331px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#006666;
  text-align:center;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u1270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:48px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:48px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
  text-align:center;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:5px;
  width:196px;
  height:33px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
  text-align:center;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:93px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:275px;
  width:95px;
  height:93px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:10px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:292px;
  width:19px;
  height:10px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:345px;
  width:46px;
  height:25px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#006666;
  text-align:center;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:205px;
  width:331px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#006666;
  text-align:center;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
