body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:585px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:323px;
  width:1px;
  height:16px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:421px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:421px;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u960 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:210px;
  width:185px;
  height:40px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u961 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:273px;
  width:185px;
  height:40px;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u962 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:323px;
  width:300px;
  height:40px;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
