body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:48px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:48px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:8px;
  width:285px;
  height:33px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:25px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:12px;
  width:14px;
  height:25px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:467px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:391px;
  height:467px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:226px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:384px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:58px;
  width:300px;
  height:384px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:438px;
  width:300px;
  height:52px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:479px;
  width:0px;
  height:0px;
}
#u1076_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:234px;
  height:8px;
}
#u1076_seg1 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:-14px;
  width:8px;
  height:18px;
}
#u1076_seg2 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:-20px;
  width:18px;
  height:18px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:53px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:452px;
  width:65px;
  height:53px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:478px;
  width:34px;
  height:19px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
