body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:707px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:147px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:351px;
  width:731px;
  height:147px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:357px;
  width:697px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
