body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:835px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u810 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:301px;
  width:305px;
  height:66px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:285px;
  word-wrap:break-word;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:334px;
  width:0px;
  height:0px;
}
#u811_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:159px;
  height:8px;
}
#u811_seg1 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-9px;
  width:18px;
  height:18px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
