body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:305px;
  width:0px;
  height:0px;
}
#u1111_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:309px;
  height:8px;
}
#u1111_seg1 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:275px;
  width:175px;
  height:95px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
